* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
}

h2 {
  font-weight: 200;
  font-size: 35px;
  text-align: center;
  margin: 0px auto;
}

h1 {
  font-size: 35px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  text-align: center;
  margin: 0px auto;
}

.title-section {
  width: 500px;
  margin: 80px auto;
}

.title-paragraph {
  text-align: center;
  width: 550px;
  margin-top: 20px;
}

p {
  color: hsl(229, 6%, 66%);
}

.blocks {
  background-color: white;
  width: 420px;
  height: 280px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  margin: 40px auto;
}

.block-text {
  margin-top: 10px;
  font-size: 15px;
}

.block-one {
  border-top: solid 5px hsl(180, 62%, 55%);
  position: relative;
  float: right;
}

.block-two {
  border-top: solid 5px hsl(0, 78%, 62%);
  margin-top: -50px;
}
.block-three {
  border-top: solid 5px hsl(34, 97%, 64%);
}
.block-four {
  border-top: solid 5px hsl(212, 86%, 64%);
  position: relative;
  float: left;
}

img {
  margin-top: 40px;
  margin-left: 260px;
}

.block-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.first-column {
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  * {
    zoom: 95%;
    overflow-x: hidden;
  }
  h1,h2 {
    margin-left: -50px;
    zoom: 90%;
  }
  .title-paragraph {
    width: 400px;
    margin-left: 35px;
  }
  .block-one {
    float: none;
  }
  .block-four {
    float: none;
  }
  .block-two {
    margin-top: 40px;
  }
  .block-three {
    margin-top: 80px;
  }
} 
